<!-- {% load static %} -->

<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="polls/static/polls/style.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="polls/static/polls/core.js" type="text/javascript"></script>

<html>
<!-- HELLO -->
<body class="fade-in">
<div scrolls scrolls-duration="1200" class="page" id="section1">
<h1 class="fade-in">Hello, my name is Drew.</h1>
<!-- {% load static %}  -->
<img src="polls/static/polls/images/awkward-drew.jpg" class = "fade-out" value="https://www.instagram.com/jimmylazerandtherobots/"/>
<p class="tiny slow-fade">(My friends call me Andrew, Drew, Piispo, or even Doug.)</p>
<p>I’m a scrappy, energetic, slightly-scatterbrained entrepreneur from Boston, MA who now lives close to Central PA. 
    I'm a graduate of Babson College, Class of 2018 and an incoming graduate student at UC Berkeley where I'll be working part-time towards a Masters in Data Science.</p>
</div>

<!-- COMPANIES -->
<div scrolls scrolls-duration="1200" class="page" id="section2">
<h2>I’ve helped to start a couple of companies in my time on this planet – one of which was a big old failure.</h2> 
<p><b class = "fade-out" value="http://directmachines.com">Direct Machines</b><b class = "fade-out" value="pruve">Pruve</b></p>
</div>

<!-- CAREER / JOBS -->
<div scrolls scrolls-duration="1200" class="page">
<h2>But as they say - with failure, comes success. As a result, I‘ve kept up a decent range of places that I've worked.</h2>
<ul>
<p class="tiny slow-fade">(Internships included AIG, Performance Motion Devices, Accorin and shoveling rat dung out of attics in high school)</p>
<li><b>2018</b>Graduated Babson. Became a Data Analyst Consultant for Skipping Stone</li>
<li><b>2020</b>Left SS to work on a family business that grew into Direct Machines</li>
<li><b>2021</b>Left DM to join Wayfair in Partner Operations</li>
<li><b>2022</b>Left Wayfair to run Cann's supply chain </li>
</ul>
</div>

<!-- SKILLS AND CERTS -->
<div class="page">
    <p class="show-more" value="skills">Skills</p>
    
    <div id="skills" style="display:none">
    <ul id="skills">
        <li>Python<p class="tiny">Please, ask me about Webscraping</p></li>
        <li>Tableau<p class="tiny">Drag and drop analytics? Done.</p></li>
        <li>SQL <p class="tiny">Wordpress DBs were my specialty</p></li>
        <li>PHP <p class="tiny">Ahem, again: Wordpress DBs were my specialty</p></li>
        <li>HTML/CSS<p class="tiny">I think the site should act as some proof</p></li>
        <li>Javascript <p class="tiny">How do you think I integrated the fade effects?</p></li>
        <li>Wordpress<p class="tiny">Custom plugins and databases are... tricky.</p></li>
        <li>Excel <p class="tiny">You really think I went to business school and didn't excel in this? (pun intended)</p></li>
        <li>Hubspot Certified</li>
        <li>Adwords Certified</li>
    </ul>
    </div>
    </div>

<!-- PERSONAL PROJECTS -->
<div scrolls scrolls-duration="1200" class="page">
<h2>While I keep myself busy, on the weekends I like to pursue personal projects.</h2>
<p><b class = "fade-down" value="https://medium.com/@andrewpiispanen/solutions-to-a-broken-mind-200ea7ac1598">Biohacker</b><b class = "fade-down" value="pruve">Berkeley Bootcamp</b></p>
</div>




<!-- INTERESTS / HOBBIES -->
<div scrolls scrolls-duration="1200" class="page">
<h2>When I am out of working-mode, I enjoy all things music </h2>

<!-- {% load static %}  -->
<img src="polls/static/polls/images/jlr.jpeg" class = "fade-out" value="https://www.instagram.com/jimmylazerandtherobots/"/>
<p><b class = "fade-out" value="https://www.instagram.com/jimmylazerandtherobots/">Jimmy Laser and the Robots</b></p>
<p class="show-more" value="concerts">Concerts I've attended</p>

<div id="concerts" style="display:none">
    <ul class="tiny">
    
        <li>2 Chainz</li>
        <li>Andrew McMahon and the Wilderness</li>
        <li>Arctic Monkeys</li>
        <li>Avett Brothers</li>
        <li>Bassnectar</li>
        <li>Big Data</li>
        <li>Big Sean</li>
        <li>Blink-182</li>
        <li>Boston Symphony Orchestra 3x</li>
        <li>Cage the Elephant</li>
        <li>Chain Smokers</li>
        <li>Cheat Codes</li>
        <li>Citizen Cope</li>
        <li>City and Colour</li>
        <li>Coldplay 2x</li>
        <li>Dave Matthews Band</li>
        <li>Dispatch</li>
        <li>Fitz and the Tantrums</li>
        <li>Fleet Foxes 2x</li>
        <li>Foo Fighters 2x</li>
        <li>Foster the People</li>
        <li>Green Day</li>
        <li>Grouplove</li>
        <li>Guster</li>
        <li>Head and the Heart</li>
        <li>Hey Marsellies </li>
        <li>Imagine Dragons</li>
        <li>Jack Johnson 2x</li>
        <li>Joe Russo's Almost Dead</li>
        <li>Jon Bellion</li>
        <li>Kygo</li>
        <li>Linkin Park</li>
        <li>Live</li>
        <li>Manchester Orchestra</li>
        <li>Matt and Kim 2x</li>
        <li>MGMT</li>
        <li>Modest Mouse</li>
        <li>My Chemical Romance</li>
        <li>Odesza</li>
        <li>Of Monsters and Men 2x</li>
        <li>OK Go</li>
        <li>Oliver Heldens</li>
        <li>Outkast</li>
        <li>Paul McCartney</li>
        <li>Phil Collins</li>
        <li>Pigeons Playing Ping Pong</li>
        <li>Pitbull</li>
        <li>Pixies</li>
        <li>Pretty Lights</li>
        <li>Red Hot Chili Peppers</li>
        <li>Roger Waters</li>
        <li>Sam Smith</li>
        <li>Steely Dan</li>
        <li>Steve Aoki</li>
        <li>Sturgill Simpson</li>
        <li>The Fools</li>
        <li>The Killers</li>
        <li>The Mighty Mighty Bosstones</li>
        <li>The White Panda</li>
        <li>They Might be Giants</li>
        <li>Third Eye Blind</li>
        <li>Vampire Weekend</li>
        <li>Walk Off the Earth</li>
        <li>Weezer</li>
        <li>Zach Brown Band</li>
        <li>Zedd 2x</li>
        
    
    
    
    </ul>
</div>
    <p class="tiny fade-in">(Makes for great small talk)</p>
<p class="show-more" value="countries">Countries I've visited</p>
<div id="countries" style="display:none">
    <ul class="tiny">
    <li>Bermuda</li>
    <li>Canada</li>
    <li>Costa Rica</li>
    <li>Dominican Republic</li>
    <li>England</li>
    <li>Estonia</li>
    <li>Finland</li>
    <li>France</li>
    <li>Germany</li>
    <li>Italy</li>
    <li>Jamaica</li>
    <li>Mexico</li>
    <li>Northern Ireland</li>
    <li>Poland</li>
    <li>Spain</li>
    <li>Switzerland</li>
    <li>United States</li>
    </ul>
    <p class="tiny fade-in">(Basically, I have a lot to see in both the Easternand the Southern Hempispheres)</p>
</div>

<p class="show-more" value="people">People who care about me</p>
<div id="people" style="display:none">
    <ul class="tiny">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- LEARN MORE -->
<div scrolls scrolls-duration="1200">
<h2>Questions?</h2>
<a href="mailto:appiispanen@gmail.com">Email</a>|<a href="https://www.linkedin.com/in/drew-piispanen-a22511a8/" target="none">LinkedIn</a>|<a href="https://github.com/apiispanen" target="none">Github</a>|<a href="https://drive.google.com/file/d/1hdacUEL82KShY3KHuwjxAqOtRb61iLHk/view?usp=sharing" target="none">Resume</a>
</div>
<p class="tiny">This website was built with Python's Django library.</p>

</body>
<script src="polls/static/scrolls-main/dist/scrolls.min.js" type="text/javascript"></script>
</html>
